<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
	</system.web>
	<appSettings>
		<add key="DALAssembly" value="SQLSeverDAL"/>
    <add key="ReceptionPage" value="http://sjclub.org:2014/sjclub/sjclub/index.jsp"/>
    <add key="PageIndex" value="http://sjclub.org:2014/sjclub/sjclub/index.jsp"/>
    <add key="PageActive" value="http://sjclub.org:2014/sjclub/sjclub/active.jsp"/>
    <add key="PageList" value="http://sjclub.org:2014/sjclub/sjclub/list.jsp"/>
    <add key="PageUtility" value="http://sjclub.org:2014/sjclub/sjclub/list.jsp"/>
    <add key="PageAbout" value="http://sjclub.org:2014/sjclub/sjclub/about.jsp"/>
    <add key="ChangeClubInformation" value="B02ED22D-33A4-4F0D-8CF6-4050DE0C8C52"/>
    <add key="AddClubActive" value="28897924-3CC4-4070-BAB4-52576484C09F"/>
    <add key="DeleteClubActive" value="9EE90966-3387-48B7-B87D-6B4D6AD7A40D"/>
    <add key="EditClubActive" value="6744348F-67E1-40CD-97BD-AB17825B21CD"/>
  </appSettings>
	<connectionStrings>
		<add name="ClubConnectionString" connectionString="server=XLR2FS3SVUL02C0\CHENBO;database=Club;Integrated Security=True;"/>
	</connectionStrings>
</configuration>
